@import url('chillax-font/css/chillax.css');

body {
  background-color: #20adfe;
  font-family: Chillax-Regular, Arial, Helvetica, sans-serif
}

#briskl {
  height: 100px;
}

#crayon {
  height: 40px;
  padding-bottom: 30px;
}

#gif {
  text-align: center;
  background-color: #ffd11a;
  border-radius: 20px;
}

#regles {
  border-radius: 20px;
  background-color: #ffd11a;
  padding: 10px;
}