@import url('chillax-font/css/chillax.css');

body {
  background-color: #20adfe;
  font-family: Chillax-Regular, Arial, Helvetica, sans-serif
}

#briskl {
  height: 110px;
}

#crayon {
  height: 50px;
  padding-bottom: 30px;
}

#gif {
  text-align: center;
}

#gif,
#regles {
  border-radius: 20px;
  background-color: #ffd11a;
  box-shadow: 7px 7px;
}

#regles {
  padding: 20px;
}

#text-border {
  font-family: Chillax-Medium, Arial, Helvetica, sans-serif;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

#start,
#nom {
  border-radius: 20px;
  padding: 10px;
  box-shadow: 7px 7px;
}

#start {
  background-color: #ffd11a;
  display: table;
  margin: 0 auto;
}

#nom {
  background-color: #f4e29a;
}