@import url('chillax.css');

body {
  background-color: #20adfe;
  font-family: Chillax-Regular, Arial, Helvetica, sans-serif
}

h2 {
  text-align: center;
}

h2,
ul {
  padding: 20px;
  border-radius: 20px;
  background-color: #ffd11a;
  box-shadow: 7px 7px #00000069;
}

p {
  font-family: Chillax-Medium, Arial, Helvetica, sans-serif;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}